@charset "utf-8";
/* These are the Beiwe Brand Colors */
@property --deep-ocean { initial-value: #004b87; syntax: "<color>"; inherits: true;}
@property --deep-ocean66 { initial-value: #004b8766; syntax: "<color>"; inherits: true;}
@property --deep-ocean-bright { initial-value: #005DA8; syntax: "<color>"; inherits: true;}
@property --deep-ocean-brighter { initial-value: #0070CA; syntax: "<color>"; inherits: true;}


@property --mist { initial-value: #a7bcd6; syntax: "<color>"; inherits: true;}
@property --cloud { initial-value: #d0d1c9; syntax: "<color>"; inherits: true;}
@property --sea-foam { initial-value: #7fa9ae; syntax: "<color>"; inherits: true;}
@property --sea-foam66 { initial-value: #7fa9ae66; syntax: "<color>"; inherits: true;}
@property --neon { initial-value: #e3e829; syntax: "<color>"; inherits: true;}  /* too bright */
@property --crystal { initial-value: #ded8eb; syntax: "<color>"; inherits: true;}
@property --fire { initial-value: #ff7276; syntax: "<color>"; inherits: true;}

@property --Bwhite { initial-value: #d0ebff; syntax: "<color>"; inherits: false;}
@property --Bblack { initial-value: #1a1c1d; syntax: "<color>"; inherits: true;}
@property --Bblack-half { initial-value: #1a1c1d66; syntax: "<color>"; inherits: true;}

@property --Baqua-bright { initial-value: #69e9ff; syntax: "<color>"; inherits: true;}
@property --Baqua-bright-desat { initial-value: #9DD4DD; syntax: "<color>"; inherits: true;}
@property --Baqua-less-bright { initial-value: #0094ad; syntax: "<color>"; inherits: true;}
@property --Baqua-less-bright66 { initial-value: #0094ad66; syntax: "<color>"; inherits: true;}
@property --Baqua-less-bright-desat { initial-value: #3D7C87; syntax: "<color>"; inherits: true;}
@property --Baqua { initial-value: #00778b; syntax: "<color>"; inherits: true;}
@property --Baqua-desat { initial-value: #31646C; syntax: "<color>"; inherits: true;}
@property --Baqua-dark { initial-value: #005e6f; syntax: "<color>"; inherits: true;}
@property --Baqua-dark66 { initial-value: #005e6f66; syntax: "<color>"; inherits: true;}
@property --Baqua-dark-desat { initial-value: #264F56; syntax: "<color>"; inherits: true;}
@property --Baqua-dark-desat66 { initial-value: #264F5666; syntax: "<color>"; inherits: true;}


@property --Byellow { initial-value: #B5B920; syntax: "<color>"; inherits: true;}
@property --Byellow-desat { initial-value: #999A59; syntax: "<color>"; inherits: true;}
@property --Byellow-dark { initial-value: #979A1B; syntax: "<color>"; inherits: true;}
@property --Byellow-dark-desat { initial-value: #7F804A; syntax: "<color>"; inherits: true;}
@property --Byellow-very-dark { initial-value: #818417; syntax: "<color>"; inherits: true;}
@property --Byellow-very-dark-desat { initial-value: #6D6E3F; syntax: "<color>"; inherits: true;}

@property --Bred { initial-value: #ff7276; syntax: "<color>"; inherits: true;}
@property --Bred66 { initial-value: #ff727666; syntax: "<color>"; inherits: true;}
@property --Bred-desat { initial-value: #C98D8F; syntax: "<color>"; inherits: true;}
@property --Bred-dark { initial-value: #cc5b5e; syntax: "<color>"; inherits: true;}
@property --Bred-dark66 { initial-value: #cc5b5e66; syntax: "<color>"; inherits: true;}
@property --Bred-dark-desat { initial-value: #A17072; syntax: "<color>"; inherits: true;}
@property --Bred-very-dark { initial-value: #A3484B; syntax: "<color>"; inherits: true;}
@property --Bred-very-dark-desat { initial-value: #80595B; syntax: "<color>"; inherits: true;}

/* two more nice greens #008966 #007f5e */
/* from original theme */
@property --original-aqua { initial-value: #0ce3ac; syntax: "<color>"; inherits: true;}
@property --original-aqua-desat { initial-value: #5c998a; syntax: "<color>"; inherits: true;}
@property --Baqua-lt1 { initial-value: #0bcb9a; syntax: "<color>"; inherits: true;}
@property --Baqua-lt1-desat { initial-value: #4A9C87; syntax: "<color>"; inherits: true;}
@property --Baqua-lt2 { initial-value: #08a27b; syntax: "<color>"; inherits: true;}
@property --Baqua-lt2-desat { initial-value: #3A7C6C; syntax: "<color>"; inherits: true;}
@property --Baqua-lt3 { initial-value: #089873; syntax: "<color>"; inherits: true;}
@property --Baqua-lt3-desat { initial-value: #377565; syntax: "<color>"; inherits: true;}

@property --forest-green { initial-value: #0d5257; syntax: "<color>"; inherits: true;}
@property --forest-green-desat { initial-value: #274547; syntax: "<color>"; inherits: true;}
@property --forest-green-bright { initial-value: #10666c; syntax: "<color>"; inherits: true;}
@property --forest-green-bright-desat { initial-value: #315659; syntax: "<color>"; inherits: true;}
@property --forest-green-dark { initial-value: #0a4145; syntax: "<color>"; inherits: true;}
@property --forest-green-dark66 { initial-value: #0a414566; syntax: "<color>"; inherits: true;}

@property --forest-green-dark-dd { initial-value: #0a4145dd; syntax: "<color>"; inherits: true;}
@property --forest-green-dark-desat { initial-value: #1F3739dd; synt: "<color>"; inherits: true;}
@property --forest-green-very-dark { initial-value: #001114; syntax: "<color>"; inherits: true;}
@property --forest-green-very-dark-desat { initial-value: #060E0F; syntax: "<color>"; inherits: true;}

@property --text-on-yellow {initial-value: #1a1c1d; syntax: "<color>"; inherits: true;}
@property --text-on-yellow-desat {initial-value:#1A1B1B; syntax: "<color>"; inherits: true;}
@property --text-on-fire {initial-value: #1a1c1d; syntax: "<color>"; inherits: true;}
@property --text-on-fire-desat {initial-value:#1A1B1B; syntax: "<color>"; inherits: true;}



/* for list groups */
@property --list-group-bg { initial-value: #375a7f; syntax: "<color>"; inherits: true;}
@property --list-group-bg-desat { initial-value: #535A61; syntax: "<color>"; inherits: true;}

/* customize base theming backgrounds */

.container {
    background: var(--Bblack-half);
    /* x offset 0 for symmetry, y offset to make top surfaces not overlap with precisely placed objects */
    box-shadow: 0pt 5pt 5pt 5pt var(--Bblack-half);
    border-radius: 10pt;
    padding: 0.5em; /* reduces squeezing */
}

.well {
    background: #005e6f22;
    box-shadow: 0pt 0pt 5pt 5pt #005e6f22;
    border-radius: 10pt;
}
.well-left{
    inset: 0px 0px 0px -6px;
    /* right: 4pt */
}
.well-right {
    inset: 0px 0px 0px 6px;
    /* left: 4pt */
}

.breadcrumb {
    background: var(--aqua-dark);
    box-shadow: 0pt 5pt 5pt 5pt var(--aqua-dark);
    border-radius: 10pt;
}

.panel {
    border: 1px solid transparent;
    background: var(--Bblack-half);
    box-shadow: 0pt 5pt 5pt 5pt var(--Bblack-half);
    border-radius: 10pt;
}
.panel-default {
    border: 1px solid transparent;
    background: var(--Bblack-half);
    box-shadow: 0pt 5pt 5pt 5pt var(--Bblack-half);
    border-radius: 10pt;
}
.panel-heading {
    border: 1px solid transparent;
    background: var(--Bblack-half);
    box-shadow: 0pt 5pt 5pt 5pt var(--Bblack-half);
    border-radius: 10pt;
}

.modal-content {
    background: var(--Bblack);
}

/* inputs have blazing white backgrounds - text color does not work consistently*/
input:not([type=submit]) {
    background: #1a1c1d !important;
    color: lightgray !important;
    outline: solid 1pt var(--Baqua);
    border-radius: 3px;
    placeholder {
        color: #888 !important;
    }
}
input[type=text]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=text]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=text]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}
input[type=number]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=number]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=number]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}
input[type=password]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=password]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=password]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}
input[type=mfa_code]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=mfa_code]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=mfa_code]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}
input[type=search]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=search]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=search]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}

input[type=date] {
    padding: 0.5em;
    border-radius: 3px;
}
input[type=date]:hover { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=date]:focus { outline: solid 1pt var(--deep-ocean); border-radius: 3px; }
input[type=date]:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}


textarea {
    background: #005e6f22 !important;
    color: lightgray !important;
    outline: solid 1pt var(--Baqua);
    
    placeholder {
        color: #888 !important;
    }
}
textarea:hover { outline: solid 1pt var(--Baqua-dark); border-radius: 3px; }
textarea:focus { outline: solid 1pt var(--Baqua-dark); border-radius: 3px; }
textarea:focus-within { outline: solid 2pt var(--Bwhite); border-radius: 3px; animation: pulse-outline 3s infinite !important;}

/* .activity-info >* tr {
    color: red;
} */
.activity-info > * td {
    text-align: center;
}
.activity-info > * td:first-child {
    text-align: right;
    max-width: 5em;
}
.survey-info > * tr {
    
}
.survey-info > * td {
    text-align: center;
    border-radius: 6px;
}
.survey-info > * td:first-child {
    text-align: right;
    max-width: 7em;
}

.tableRowTitle {
    color: var(--Bwhite);
    text-align: center;
    vertical-align: text-bottom;
    font-weight: bold;
    font-size: medium;
    border-left: 4px dotted var(--deep-ocean66);
    border-right: 4px dotted var(--deep-ocean66);
}
.tableRowTitle > span {
    font-variant: small-caps;
}
.tableRowReceived {
    background-color: var(--Baqua-less-bright66);
    color: var(--Bwhite);
}
.tableRowError {
    background-color: var(--Bred-dark66);
    color: var(--Bwhite);
}
.tableRowPending {
    background-color: var(--deep-ocean66);
    color: var(--Bwhite);
}



/* darkly has weird locations for select */
select {
    background: var(--Bblack) !important;
    color: var(--Bwhite) !important;
    outline: solid 1pt var(--Baqua);
}
select:hover {
    outline: solid 1pt var(--deep-ocean);
}
select:focus {
    /* this one doesn't like to stick for some reason */
    outline: solid 1pt var(--deep-ocean) !important;
}
select:active {
    outline: solid 1pt var(--deep-ocean);
}

select > option {
    background: var(--Bblack);
    color: var(--Bwhite) !important;
    border-color: var(--Baqua);
}
select > option:checked {
    background: var(--Baqua);
    color: var(--Bwhite) !important;
    border-color: var(--Baqua);
}

hr {border-top: 1px solid var(--forest-green-dark);}


.margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}


/* navbar links need some forcing */
.dropdown-nice .open > a:focus {
    color: #005162;
    background: #004552 !important;
}

.fix-forest-dropdown-focus.open {
    background: var(--forest-green-bright) !important;
}

.list-group-item {
    background-color: #222;
    color: var(--Bwhite);
    border-color: #222;
}
.list-group-item:hover {
    background-color: var(--Baqua-less-bright);
    border-color: var(--Baqua-less-bright);;
}


textarea {
    background: var(--forest-green-dark);
    border-color: var(--forest-green-dark);
    border-radius: 5px;
    resize: none
}

.glyphicon-time {
  font-family: "Helvetica" !important;
  content: "\e023" !important;
}

.app-settings {
    vertical-align: top;
}
.app-settings input[type="checkbox"] {
    vertical-align: top;
    position: relative;
    margin-top: 8pt; 
    margin-left: 8pt; 
    margin-right: 2em;
    float: right;
}
.app-settings label {
    vertical-align: top;
    font-weight: normal;
    padding-right: 4em;
    margin-right: -4em;
}
.app-settings input[type="number"] {
    vertical-align: top;
    width: 5em;
    margin-right: 2em; 
    float: right;
}
.app-settings select {
    vertical-align: top;
    width: 8em;
    margin-right: 2em; 
    float: right;
}
.app-settings textarea {
     vertical-align: top;
    /* padding-right: 2em;
    padding-left: 2em;
    margin: 2em */
}
.app-settings hr {
    clear:both;
    border: 0px solid transparent;
    margin: 0.75em;
}
.app-settings h3 {
    vertical-align: top;
    font-weight: bold;
    margin: 1em;
    /* margin-right: -5em; */
}
.app-settings-align-70 {
    text-align: center;
    width: 70%;
}
.app-settings-align-80 {
    text-align: center;
    width: 80%;
}
.app-settings-align-force {
    text-align: center !important;
    width: 100%;
}

.dropdown-item-field {
	padding-left: 5px;
	padding-right: 5px;
    color: #0bcb9a;
}

#many-new-patients-loading-spinner p {
    text-align: left;
}

/* Custom fields in the Patients table on the View Study page */
table.dataTable tbody td.custom-field-value {
    padding: 0px;
}
td.custom-field-value a {
    width: 100%;
    display: block;
    padding: 13px;
}
td.custom-field-value a:link,
td.custom-field-value a:visited,
td.custom-field-value a:hover,
td.custom-field-value a:active {
    color: #333;
    text-decoration: none;
}
td.custom-field-value span.custom-field-edit-link {
    visibility: hidden;
    color: #428bca;
}
td.custom-field-value:hover span.custom-field-edit-link {
    visibility: visible;
}

.no-padding {
    padding: 0px;
    border: 0px;
}

.oneline {
    display: inline-block;
}

.current-text-green:hover {
    color: #0bcb9a !important;
    background-color: #0d525766 !important
}

.participant-dates {
    /* text-mono text-smallcaps text-normal */
    font-family: monospace;
    font-size: normal;
    font-variant: small-caps;
}


/* Text modifiers */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.text-blackish{ color: rgb(32, 32, 32); }
.center-text { text-align: center; }
.text-center { text-align: center; }
.text-smaller { font-size: smaller; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-normal { font-size: normal; }
.text-small-italic { font-size: small; font-style: italic; }
.text-smaller-italic { font-size: smaller; font-style: italic; }
.text-mono { font-family: monospace; }
.text-uppercase { text-transform: uppercase; }
.text-smallcaps { text-transform: lowercase; font-variant: small-caps; }
.text-condensed { font-stretch: condensed; }
.text-light { font-weight: lighter; }
.text-regular { font-weight: normal; }
.text-bold { font-weight: bold !important; }
.text-black { color: black !important; }
.text-green { color: var(--Baqua-bright) !important; }
.text-green-hover:hover { color: var(--Baqua-lt1) !important; }


.table.table-notifications td {
    vertical-align: middle;
}
.table.table-notifications td:nth-child(1) {
    /* Time Sent column - 2 */
    font-family: monospace;
    font-size: medium;
}
.table.table-notifications td:nth-child(2) {
    /* Time Confirmed column - 3 */
    font-family: monospace;
    font-size: medium;
}
.table.table-notifications td:nth-child(3) {
    /* Survey column - 4 */
}
.table.table-notifications td:nth-child(4) {
    /* Schedule Type column - 5 */
}
.table.table-notifications td:nth-child(5) {
    /* Status column - 6 */
}
.table.table-notifications td:nth-child(6) {
    /* button column (7th column) */
    width: 10px;
    text-align: center;
}

.vertical-padding-3 {
    padding-top: 3em;
    padding-bottom: 3em;
}

.h3-margins {
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* margin-inline-start: -4em; */
    margin-inline-end: -4em;
}
.h2-margins-vertical {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
}
.h2-middle-margins-vertical {
    margin-block-start: 2em;
    margin-block-end: 1em;
}

.h3-margins-vertical {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.survey-label {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.survey-button-margins {
    margin-block-start: 3pt;
    margin-block-end: 3pt;
    padding-bottom: 2em;
}
.survey-micro-label { /* small labels in the survey */
    font-size: 12px;
    color: rgb(128, 128, 128);
    font-family: monospace;
}
.survey-inline-table {
    margin-top: -10pt;
    margin-bottom: -4pt;
}

.link-fill {
    display: block;
    padding-top: 0.5em;
    margin-top: -0.5em;
    padding-bottom: 0.5em;
    margin-bottom: -0.5em;
}

.force-bg-forest-green-dark {
    background-color: var(--forest-green-very-dark);
}
.force-green-bg {
    background-color: var(--forest-green-bright) !important;
    border-color: var(--forest-green-bright) !important;
}

.dashboard-list-rounded {
    border-radius: 7pt;
}
.dashboard-list-margins {
    margin-block-start: 3pt;
    margin-block-end: 3pt;
    background-color: var(--forest-green-dark);
}
.dashboard-list-margins:hover {
    margin-block-start: 3pt;
    margin-block-end: 3pt;
    background-color: var(--Baqua-less-bright);
    /* color: var(--Bwhite) !important; */
}
.dashboard-list-margins:hover > a {
    color: var(--Bwhite) !important;
}


.vertical-align-middle {
    vertical-align: middle;
}
.text-align-bottom {
    vertical-align: bottom;
}

.text-large { font-size: large; }
.text-larger { font-size: large; }

/* password validation color hint */
.valid { color: var(--Baqua-lt1); }
.invalid {
    color: var(--Bred);
    animation: pulse-text-red 30s infinite;
}

/* study security settings page */
.checkbox-fix input[type="checkbox"] {
    float: right !important;
    padding-top: 3.2em !important;
    margin-top: 3.2em !important;
    transform: scale(1.2);
}
.checkbox-label-fill {
    margin-right: -4em;
    padding-right: 4em;
    margin-top: 3em;
}

.text-wrap-wrap { text-wrap: wrap; }
.text-wrap-nowrap { text-wrap: nowrap; }
.text-wrap-balance { text-wrap: balance; }
.text-wrap-pretty { text-wrap: pretty; }
.text-wrap-stable { text-wrap: stable; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }

.dropdown-translucent {
    background-color: rgb(20, 20, 20, 0.9);
    backdrop-filter: blur(1.5px)
}

.stream-table-scroll{
    overflow-y: scroll;
    white-space: nowrap;
    width: calc(100% + 20px);
    margin-left: -20px;
}

.x-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.xy-scrollable {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    width: 100%;
}


/* Animations */

.noanimation {
    animation: none !important;
}

.pulse-text-constant {
    animation: pulse-text 2s infinite;
    color: #fff;
}
.pulse-text-hover {
    :hover {
        animation: pulse-text 2s infinite;
    }
}

.pulse-lt1-lt2 {
    animation: pulse-lt1-lt2 10s infinite !important;
    color: --Bwhite;
}

@keyframes pulse-lt1-lt2 {
    0% { color: var(--Baqua-lt1); }
    50% { color: var(--Baqua-lt2); }
    100% { color: var(--Baqua-lt1); }
}

@keyframes pulse-outline {
    0% { outline: solid 2pt var(--Baqua-bright) ; }
    50% { outline: solid 2pt var(--Bwhite); }
    100% { outline: solid 2pt var(--Baqua-bright); }
}
@keyframes pulse-outline-thin {
    0% { outline: solid 1pt var(--Baqua-bright) ; }
    50% { outline: solid 1pt var(--Bwhite); }
    100% { outline: solid 1pt var(--Baqua-bright); }
}
@keyframes pulse-text-red {
    0% { animation-timing-function: ease-in-out; }
    50% {text-shadow: 0 0 4px var(--Bred);
        animation-timing-function: ease-in-out; }
    100% { animation-timing-function: ease-in-out; }
}
@keyframes pulse-text {
    0% { color: #fff; }
    50% { text-shadow: 0px 0px 1px #fff; }
    100% { color: #fff; }
}

/* @media (prefers-color-scheme: dark) {
  @keyframes pulse-text {
        0% { color: #fff; }
        50% { color: #BBB; }
        100% { color: #fff; }
    }
} */



/* btns require some dumb forcing, missing something in original that breaks these */
/* btn warning, uses yellow (neon) */
.btn-warning { color: var(--text-on-yellow) !important; background-color: var(--Byellow);  border-color:  var(--Byellow); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow); }
.btn-warning:focus { background-color: var(--Byellow-dark);  border-color:  var(--Byellow-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow-dark); }
.btn-warning:hover { background-color: var(--Byellow-dark);  border-color:  var(--Byellow-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow-dark); }
.btn-primary:active{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-warning:active:hover{ background-color: var(--Byellow-very-dark);  border-color:  var(--Byellow-very-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow-very-dark); }
.btn-warning:active:focus{ background-color: var(--Byellow-very-dark);  border-color:  var(--Byellow-very-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow-very-dark); }
.btn-warning[disabled]{ background-color: var(--Byellow-dark-desat) !important;  border-color:  var(--Byellow-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Byellow-dark); }
/* btn danger, uses fire */
.btn-danger { color: var(--text-on-fire) !important; background-color: var(--Bred);  border-color:  var(--Bred); box-shadow: 0pt 0pt 1pt 1pt var(--Bred); }
.btn-danger:focus { background-color: var(--Bred-dark);  border-color:  var(--Bred-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
.btn-danger:hover { background-color: var(--Bred-dark);  border-color:  var(--Bred-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
.btn-danger:active { background-color: var(--Bred-dark);  border-color:  var(--Bred-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
.btn-danger:active:hover{ background-color: var(--Bred-very-dark);  border-color:  var(--Bred-very-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
.btn-danger:active:focus{ background-color: var(--Bred-very-dark);  border-color:  var(--Bred-very-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
.btn-danger[disabled]{ background-color: var(--Bred-dark-desat) !important;  border-color:  var(--Bred-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Bred-dark); }
/* btn info, uses aqua */
.btn-info { color: var(--Bwhite); background-color: var(--Baqua-less-bright);  border-color:  var(--Baqua-less-bright); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-less-bright); }
.btn-info:focus { color: #fff !important; background-color: var(--Baqua-bright);  border-color:  var(--Baqua-bright); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-bright); }
.btn-info:hover { color: #fff !important; background-color: var(--Baqua-bright);  border-color:  var(--Baqua-bright); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-bright); }
.btn-info:active { color: #fff !important; background-color: var(--Baqua-bright);  border-color:  var(--Baqua-bright); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-bright); }
.btn-info:active:hover{ background-color: var(--Baqua-dark);  border-color:  var(--Baqua-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-dark); }
.btn-info:active:focus{ background-color: var(--Baqua-dark);  border-color:  var(--Baqua-dark); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-dark); }
.btn-info[disabled]{ background-color: var(--Baqua-desat) !important;  border-color:  var(--Baqua); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua);  }
/* btn success, uses the beiwe greens */
.btn-success { color: #fff;  /* needs to be actually-white text */ background-color: var(--Baqua-lt1);  border-color:  var(--Baqua-lt1); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt1); }
.btn-success:focus { color: var(--Bwhite); background-color: var(--Baqua-lt2); border-color:  var(--Baqua-lt2); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt2); }
.btn-success:hover { color: var(--Bwhite); background-color: var(--Baqua-lt2);  border-color:  var(--Baqua-lt2); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt2); }
.btn-success:active { color: var(--Bwhite); background-color: var(--Baqua-lt2);  border-color:  var(--Baqua-lt2); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt2); }
.btn-success:active:hover{ background-color: var(--Baqua-lt3);  border-color:  var(--Baqua-lt3); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt3); }
.btn-success:active:focus{ background-color: var(--Baqua-lt3);  border-color:  var(--Baqua-lt3); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt3); }
.btn-success[disabled]{ color: var(--Bwhite) !important; background-color: var(--Baqua-lt1-desat) !important;  border-color:  var(--Baqua-lt1); box-shadow: 0pt 0pt 1pt 1pt var(--Baqua-lt1); }
/* btn primary - we use forest green */
.btn-primary { color: var(--Bwhite) !important; background-color: var(--forest-green-bright);  border-color:  var(--forest-green-bright); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-bright); }
.btn-primary:focus { background-color: var(--forest-green);  border-color:  var(--forest-green); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green); }
.btn-primary:hover { background-color: var(--forest-green);  border-color:  var(--forest-green); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green); }
.btn-primary:active { background-color: var(--forest-green);  border-color:  var(--forest-green); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green); }
.btn-primary:active:hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary:active:focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary[disabled]{ background-color: var(--forest-green-desat) !important; border-color: var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

/* .btn-primary.active:focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

.btn-primary:active.hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary:active.focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

.btn-primary.active.hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary.active.focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

.btn-primary.active:hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary.active:focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

.btn-primary.active:hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary.active:focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }

.btn-primary.active:hover{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
.btn-primary.active:focus{ background-color: var(--forest-green-dark);  border-color:  var(--forest-green-dark); box-shadow: 0pt 0pt 1pt 1pt var(--forest-green-dark); }
 */




/* btn-link just uses the link... stuff */
.btn-link{ color: var(--Baqua-bright) }
.btn-link:focus { color: var(--Baqua-lt1) }
.btn-link:hover { color: var(--Baqua-lt1) }
.btn-link:active { color: var(--Baqua-lt1) }
.btn-link:active:hover{ color: var(--Baqua-lt1) }
.btn-link:active:focus{ color: var(--Baqua-lt1) }


.min-wid-5{min-width: 5em;}.min-wid-6{min-width: 6em;}.min-wid-7{min-width: 7em;}.min-wid-8{min-width: 8em;}.min-wid-9{min-width: 9em;}.min-wid-10{min-width: 10em;}.min-wid-11{min-width: 11em;}.min-wid-12{min-width: 12em;}.min-wid-13{min-width: 13em;}.min-wid-14{min-width: 14em;}.min-wid-15{min-width: 15em;}.min-wid-16{min-width: 16em;}.min-wid-17{min-width: 17em;}.min-wid-18{min-width: 18em;}.min-wid-19{min-width: 19em;}.min-wid-20{min-width: 20em;}.min-wid-21{min-width: 21em;}.min-wid-22{min-width: 22em;}.min-wid-23{min-width: 23em;}.min-wid-24{min-width: 24em;}.min-wid-25{min-width: 25em;}

.marg-t-a{margin-top:auto;}.marg-t-0{margin-top:0em;}.marg-t-0-5{margin-top:0.5em;}.marg-t-1{margin-top:1em;}.marg-t-1-75{margin-top:1.75em;}.marg-t-2{margin-top:2em;}.marg-t-3{margin-top:3em;}.marg-t-4{margin-top:4em;}.marg-t-5{margin-top:5em;}.marg-t-5{margin-top:5em;}.marg-t-6{margin-top:6em;}.marg-t-12{margin-top:12em;}
.marg-b-a{margin-bottom:auto;}.marg-b-0{margin-bottom:0em;}.marg-b-0-5{margin-bottom:0.5em;}.marg-b-1{margin-bottom:1em;}.marg-b-2{margin-bottom:2em;}.marg-b-3{margin-bottom:3em;}.marg-b-4{margin-bottom:4em;}.marg-b-5{margin-bottom:5em;}.marg-b-6{margin-bottom:6em;}.marg-b-12{margin-bottom:12em;}
.marg-l-a{margin-left:auto;}.marg-l-0{margin-left:0em;}.marg-l-0-5{margin-left:0.5em;}.marg-l-1{margin-left:1em;}.marg-l-2{margin-left:2em;}.marg-l-3{margin-left:3em;}.marg-l-4{margin-left:4em;}.marg-l-5{margin-left:5em;}.marg-l-6{margin-left:6em;}.marg-l-12{margin-left:12em;}
.marg-r-a{margin-right:auto;}.marg-r-0{margin-right:0em;}.marg-r-0-5{margin-right:0.5em;}.marg-r-1{margin-right:1em;}.marg-r-2{margin-right:2em;}.marg-r-3{margin-right:3em;}.marg-r-4{margin-right:4em;}.marg-r-5{margin-right:5em;}.marg-r-6{margin-right:6em;}.marg-r-12{margin-right:12em;}
.mar-t-na{margin-top:auto;}.mar-t-n0{margin-top:0em;}.mar-t-n0-5{margin-top:-0.5em;}.mar-t-n1{margin-top:-1em;}.mar-t-n2{margin-top:-2em;}.mar-t-n3{margin-top:-3em;}.mar-t-n4{margin-top:-4em;}.mar-t-n5{margin-top:-5em;}.mar-t-n6{margin-top:-6em;}.mar-t-n12{margin-top:-12em;}
.mar-b-na{margin-bottom:auto;}.mar-b-n0{margin-bottom:0em;}.mar-b-n0-5{margin-bottom:-0.5em;}.mar-b-n1{margin-bottom:-1em;}.mar-b-n2{margin-bottom:-2em;}.mar-b-n3{margin-bottom:-3em;}.mar-b-n4{margin-bottom:-4em;}.mar-b-n5{margin-bottom:-5em;}.mar-b-n6{margin-bottom:-6em;}.mar-b-n12{margin-bottom:-12em;}
.mar-l-na{margin-left:auto;}.mar-l-n0{margin-left:0em;}.mar-l-n0-5{margin-left:-0.5em;}.mar-l-n1{margin-left:-1em;}.mar-l-n2{margin-left:-2em;}.mar-l-n3{margin-left:-3em;}.mar-l-n4{margin-left:-4em;}.mar-l-n5{margin-left:-5em;}.mar-l-n6{margin-left:-6em;}.mar-l-n12{margin-left:-12em;}
.mar-r-na{margin-right:auto;}.mar-r-n0{margin-right:0em;}.mar-r-n0-5{margin-right:-0.5em;}.mar-r-n1{margin-right:-1em;}.mar-r-n2{margin-right:-2em;}.mar-r-n3{margin-right:-3em;}.mar-r-n4{margin-right:-4em;}.mar-r-n5{margin-right:-5em;}.mar-r-n6{margin-right:-6em;}.mar-r-n12{margin-right:-12em;}

.pad-r-0{padding-right:0em;}.pad-r-0-5{padding-right:0.5em;}.pad-r-1{padding-right:1em;}.pad-r-2{padding-right:2em;}.pad-r-3{padding-right:3em;}.pad-r-4{padding-right:4em;}.pad-r-5{padding-right:5em;}.pad-r-6{padding-right:6em;}.pad-r-12{padding-right:12em;}
.pad-r-n-0{padding-right:0em;}.pad-r-n-0-5{padding-right:-0.5em;}.pad-r-n-1{padding-right:-1em;}.pad-r-n-2{padding-right:-2em;}.pad-r-n-3{padding-right:-3em;}.pad-r-n-4{padding-right:-4em;}.pad-r-n-5{padding-right:-5em;}.pad-r-n-6{padding-right:-6em;}.pad-r-n-12{padding-right:-12em;}
.pad-l-0{padding-left:0em;}.pad-l-0-5{padding-left:0.5em;}.pad-l-1{padding-left:1em;}.pad-l-2{padding-left:2em;}.pad-l-3{padding-left:3em;}.pad-l-4{padding-left:4em;}.pad-l-5{padding-left:5em;}.pad-l-6{padding-left:6em;}.pad-l-12{padding-left:12em;}
.pad-l-n-0{padding-left:0em;}.pad-l-n-0-5{padding-left:-0.5em;}.pad-l-n-1{padding-left:-1em;}.pad-l-n-2{padding-left:-2em;}.pad-l-n-3{padding-left:-3em;}.pad-l-n-4{padding-left:-4em;}.pad-l-n-5{padding-left:-5em;}.pad-l-n-6{padding-left:-6em;}.pad-l-n-12{padding-left:-12em;}
.pad-t-0{padding-top:0em;}.pad-t-0-5{padding-top:0.5em;}.pad-t-1{padding-top:1em;}.pad-t-1-75{padding-top:1.75em;}.pad-t-2{padding-top:2em;}.pad-t-3{padding-top:3em;}.pad-t-4{padding-top:4em;}.pad-t-5{padding-top:5em;}.pad-t-5{padding-top:5em;}.pad-t-6{padding-top:6em;}.pad-t-12{padding-top:12em;}
.pad-t-n-0{padding-top:0em;}.pad-t-n-0-5{padding-top:-0.5em;}.pad-t-n-1{padding-top:-1em;}.pad-t-n-2{padding-top:-2em;}.pad-t-n-3{padding-top:-3em;}.pad-t-n-4{padding-top:-4em;}.pad-t-n-5{padding-top:-5em;}.pad-t-n-6{padding-top:-6em;}.pad-t-n-12{padding-top:-12em;}
.pad-b-0{padding-bottom:0em;}.pad-b-0-5{padding-bottom:0.5em;}.pad-b-1{padding-bottom:1em;}.pad-b-2{padding-bottom:2em;}.pad-b-3{padding-bottom:3em;}.pad-b-4{padding-bottom:4em;}.pad-b-5{padding-bottom:5em;}.pad-b-6{padding-bottom:6em;}.pad-b-12{padding-bottom:12em;}
.pad-b-n-0{padding-bottom:0em;}.pad-b-n-0-5{padding-bottom:-0.5em;}.pad-b-n-1{padding-bottom:-1em;}.pad-b-n-2{padding-bottom:-2em;}.pad-b-n-3{padding-bottom:-3em;}.pad-b-n-4{padding-bottom:-4em;}.pad-b-n-5{padding-bottom:-5em;}.pad-b-n-6{padding-bottom:-6em;}.pad-b-n-12{padding-bottom:-12em;}
