/* used by data stream dashboard html page*/

.date_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.color_range_min{
    margin-top: 5px;
    margin-bottom: 5px;
}

.color_range_max{
    margin-bottom: 5px;
}

.choose-stream{
    float: right;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.invalid_input{
    color: var(--Bred);
    font-size: 12px;
}

.panel-heading{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.edit-settings{
    margin-right: 10px;
    height: 40px;
}

.radio-buttons{
    font-weight: normal;
}

.filter-bar{
    font-size: 14px;
    color: black !important;
    background-color: var(--cloud);
}

.add-flag{
    margin-top: 10px;
}

.gradient{
    background: linear-gradient(90deg, #ff72765c, var(--fire) 100%);
}

.flag-filter {
    outline: 5.5px solid var(--neon);
    outline-offset: -5.5px;
}

.filter-flag-item{
    margin-bottom: 5px;
}

.flag-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.button_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.choose-date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
    /* margin-bottom: 0px; */
}

/* used by dashboard.html page*/
.dashboard-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.label-th {
    width: 90px;
    position: sticky;
    left: -25px;
    text-align: right;
    background-color: var(--Baqua-dark-desat66);
    box-shadow: 0pt 0pt 5pt 5pt var(--Baqua-dark-desat66);
    border-width: 0px !important;
    backdrop-filter: blur(3px);
    overflow: visible !important;
}

.label-th2 {
    width: calc(100% - 90px);
    position: sticky;
    left: -20px;
    text-align: right;
    background-color: var(--Baqua-dark-desat66);
    box-shadow: 0pt 0pt 5pt 5pt var(--Baqua-dark-desat66);
    border-width: 0px !important;
    backdrop-filter: blur(3px);
    font-size: 11pt;
    font-weight: 100;
}
.label-th2 > a {
    text-decoration: none !important;
}

/* used by patient and data stream dashboard html pages */

.bytes{
    text-align: right;
}

.big-button {
    border-radius: 6px;
}
/* otherwise this will blind you */
.big-button:hover {
    background-color: var(--Baqua-less-bright-desat) !important;
}
