packages:
  yum:
    mod24_ssl : []
    htop: []
    ack: []
    python27-devel: []
    postgresql96-devel: []
    git: []
    ec2-utils: []

commands:
  01_setup_swap:
    ignoreErrors: true
    command: fallocate -l 5G /swapfile && chmod 600 /swapfile && mkswap /swapfile && swapon /swapfile && swapon -s
  02_pagespeed_1_download:
      command: "rpm -q mod-pagespeed-stable || wget https://dl-ssl.google.com/dl/linux/direct/mod-pagespeed-stable_current_x86_64.rpm"
  03_pagespeed_2_install:
      command: "rpm -q mod-pagespeed-stable || rpm -U mod-pagespeed-*.rpm"
  04_force_ec2_metadata:
      ignoreErrors: true
      command: "ln -s /opt/aws/bin/ec2-metadata /usr/local/bin/ec2-metadata"
  05_generate_self_signed_certificate:
      ignoreErrors: true
      command: |
        umask 077
        openssl req -new -newkey rsa:2048 -sha256 -days 1325 -nodes -x509 -keyout /etc/pki/tls/private/server.key -out /etc/pki/tls/certs/server.crt -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=www.example.com"

container_commands:
  01_add_global_wsgi_application_group:
    command: if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;
  02_update_pip:
    command: pip install --upgrade pip
  03_install_requirements:
    command: pip install --requirement Requirements.txt
  04_migrate:
    leader_only: true
    command: python manage.py migrate
  05_setup_profile:
    command: mv ./cluster_management/pushed_files/eb_profile.sh /home/ec2-user/.bashrc; chmod 644 /home/ec2-user/.bashrc; chown ec2-user /home/ec2-user/.bashrc; chgrp ec2-user /home/ec2-user/.bashrc
  06_setup reasonable_inputrc:
    command: mv ./cluster_management/pushed_files/.inputrc /home/ec2-user/.inputrc; chmod 664 /home/ec2-user/.inputrc; chown ec2-user /home/ec2-user/.inputrc; chgrp ec2-user /home/ec2-user/.inputrc

option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: frontend/static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
# DO NOT ENABLE THIS.  Elastic beanstalk's memory for this parameter is really inconsistent.  You should set this manually
# in the AWS Console.
#    NumProcesses: 2
#    NumThreads: 20


# uncomment this section to force SSL connections
files:
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        RewriteEngine On
        <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
        </If>

        # disable trace and track requests
        RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK) [NC]
        RewriteRule .* - [F]

        #hsts - set strict transport security for a year from first access
        Header set Strict-Transport-Security "max-age=31536000"

  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/private/server.key"

        Alias /static/ /opt/python/current/app/frontend/static/
        <Directory /opt/python/current/app/frontend/static/>
        Order allow,deny
        Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/wsgi.py

        <Directory /opt/python/current/app>
        Require all granted
        </Directory>

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl

      </VirtualHost>
