{% extends "base.html" %}

{% block head %}
{{ super() }}
<link
  rel="stylesheet"
  href="/static/css/libraries/bootstrap-datetimepicker.css"
  type="text/css"
/>
<script type="text/javascript" src="/static/javascript/libraries/transition.js"></script>
<script type="text/javascript" src="/static/javascript/libraries/collapse.js"></script>
{% comment %} We are using a different datepicker on this page... {% endcomment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
  type="text/css"
/>

<script type="text/javascript">
$(document).ready(function() {
  $('#start_datepicker').datepicker({
    format: "yyyy-mm-dd",
    startDate: "{{ start_date }}",
    endDate: "{{ end_date }}",
    defaultViewDate: "{{ start_date }}",
  })
  $('#end_datepicker').datepicker({
    format: "yyyy-mm-dd",
    startDate: "{{ start_date }}",
    endDate: "{{ end_date }}",
    defaultViewDate: "{{ end_date }}",
  })
});
</script>
{% endblock %}

{% block title %}Create Forest Tasks{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li>
    <a
      href="{{ easy_url('study_endpoints.view_study_page', study.id) }}"
      aria-label="click to go to the study page for {{ study.name }}"
    >{{ study.name }}</a>
  </li>
  <li class="active">Create Forest Tasks</li>
</ol>

<div>
  <br>
  <div class="alert alert-success italic">
    Forest is under development at Onnela Lab. The currently deployed version is {{forest_version}}
    ({{forest_commit}})

  </div>
  <br>
  <div
    class="well"
    style="min-height: 33em"
  >
    <h1 class="h1 center-text">Queue Forest Analyses</h1>
    <div class="col-xs-12">
      <h1 class="h2"><i>{{ study.name }}</i></h1>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    
    {# removing this row injects a space at the end of the div? #}
    <div class="row">  
      <div class="col-sm-12">
        <h2 class="h4">Queue Participant Trees</h2>
        <form
          action=""
          method="POST"
        >
          <br>

          <div class="row">
            {# Patient Selector #}
            <div class="col-sm-6">
              <div class="form-group">

                <label for="patient_selector">Select Participants to Queue Their Forest Tasks </label>
                <select
                  id="patient_selector"
                  ng-model="selectedPatient"
                  name="participant_patient_ids"
                  class="form-control"
                  size=12
                  multiple
                >
                  {% for participant in participants %}
                  <option>{{ participant }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Trees #}
            <div class="col-sm-4">
              <div class="form-group">

                <div class="ml-1">Select Forest Tree to Run</div>
                {% for tree in trees %}
                {% if tree[0] != "sycamore" %}
                <div class="checkbox ml-3">

                  <fieldset legend="Forest Trees">

                    <input
                      name="trees"
                      type="checkbox"
                      value="{{ tree[0] }}"
                      aria-label="checkbox for the {{ tree[0] }} Forest Tree analysis"
                    > {{ tree[1] }}

                  </fieldset>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 h3-margins-vertical">
              <div class="form-group">

                <label for="start_date">Start Date</label>
                <div
                  class="input-group date"
                  data-provide="start_datepicker"
                  id="start_datepicker"
                >
                  <input
                    type="text"
                    class="form-control italic-placeholder"
                    name="date_start"
                    placeholder="First study data is from {{ start_date }}"
                    aria-label="First study data is from {{ start_date }}"
                    id="start_date"
                  >
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4 h3-margins-vertical">
              <div class="form-group">

                <label for="end_date">End Date</label>
                <div
                  class="input-group date"
                  data-provide="end_datepicker"
                  id="end_datepicker"
                >
                  <input
                    type="text"
                    class="form-control italic-placeholder"
                    name="date_end"
                    placeholder="Latest study data is from {{ end_date }}"
                    aria-label="Latest study data is from {{ end_date }}"
                    id="end_date"
                  >
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-sm-2 h3-margins-vertical pull-right mr-6">
              <input
                type="submit"
                class="btn btn-success h2-margins-vertical"
                value="Create Forest Tasks"
                aria-label="click to create forest tasks"
                id="forest_task_submit_button"
              />
            </div>
          </div>
          
        </form>
      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-sm-12">
        <hr>
        <h2 class="h2 mt-2">Queue Sycamore Run</h2>
        <div class="col-sm-8 col-xs-12 text-muted h3-margins">
          Queue a study-wide Sycamore run using the earliest and latest available study dates.
        </div>
        <div class="col-sm-4 col-xs-12">
          <form
            action=""
            method="POST"
          >
        
            <input
              type="hidden"
              name="trees"
              value="sycamore"
            >
        
            <input
              type="hidden"
              name="date_start"
              value="{{ start_date }}"
            >
        
            <input
              type="hidden"
              name="date_end"
              value="{{ end_date }}"
            >
        
            <input
              type="submit"
              class="btn btn-success pull-right"
              value="Create Sycamore Task"
              aria-label="click to create a study-wide sycamore task"
            />
        </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}
