{% extends "base.html" %}

{% block title %}Forest Status{% endblock %}

{% block head %}
    {{ super() }}
    <script>filterableObjects = {{ forest_log | tojson }}</script>
    <script src="/static/javascript/app/survey-builder/controllers/filterable-list-controller.js"></script>
{% endblock %}

{% block content %}

<div id="filterableList" ng-controller="FilterableListController">
    <div class="form-group col-sm-4">
      <input type="search" class="form-control" placeholder="Filter" ng-model="filterText" autofocus>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Created</th>
            <th scope="col">Participant</th>
            <th scope="col">Tree</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            {% if is_site_admin %}
              <th scope="col">Cancel</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="log in filterableObjects" ng-if="(log.participant + log.forest_tree + log.data_date_start + log.data_date_end + log.status).toLowerCase().includes(filterText.toLowerCase())">

            <td>{% raw %}{{ log.created_on }}{% endraw %}</td>
            <td>{% raw %}{{ log.participant }}{% endraw %}</td>
            <td>{% raw %}{{ log.forest_tree }}{% endraw %}</td>
            <td>{% raw %}{{ log.data_date_start }}{% endraw %}</td>
            <td>{% raw %}{{ log.data_date_end }}{% endraw %}</td>
            <td ng-class="{ {{ status_choices.QUEUED }}: '',
              {{ status_choices.RUNNING }}:'list-group-item-info',
              {{ status_choices.SUCCESS }}:'list-group-item-success',
              {{ status_choices.ERROR }}:'list-group-item-danger',
              {{ status_choices.CANCELLED }}:'list-group-item-danger'}[log.status]">
              {% raw %}{{ log.status }}{% endraw %}
            </td>
            {% if is_site_admin %}
              <td>
                <form ng-if="log.status == '{{ status_choices.QUEUED }}'" action="{{ url_for('admin_pages.forest_status', study_id=study.id)}}" method="post">
                  <input type="hidden" class="form-control" name="task_id" value="{% raw %}{{ log.external_id }}{% endraw %}"/>
                  <button type="submit" class="btn active btn-primary" onclick="return confirm('This will stop this Forest task from running, are you sure you want to do this?')">Cancel Task</button>
                </form>
              </td>
            {% endif %}
          </tr>
        <tbody/>
      </table>
    </div>
  </div>

{% endblock %}