<script>navBarStudies = {{ allowed_studies|tojson }}</script>
<script>{% include LocalAssets.NAVBAR_JS %}</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    {# This "Open the navbar menu" toggle appears on narrow (mobile) screens when the rest of the navbar is hidden #}
    <div class="navbar-header">
      <button  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="main-navbar-menu" ng-controller="NavBarStudyController" class="collapse navbar-collapse" style="background-color: transparent;" max-width="10px">
      <ul class="nav navbar-nav navbar-left marg-l-n-2">
        {# If the current admin is authorized to view more than one study, give them a drop-down menu to switch studies #}
        <li ng-if="navBarStudies.length > 1" class="dropdown pulse-text-hover" role="presentation">
          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Studies <span class="caret"></span>
          </a>
          {# The dropdown menu is an AngularJS app that's searchable/filterable #}
          <ul id="searchableStudyList" class="dropdown-menu dropdown-menu-left dropdown-translucent noanimation" aria-labelledby="dropdownMenu1">
            {# Search/filter input field #}
            <li class="dropdown-item-nice noanimation">
              <div class="form-group noanimation">
                <input type="search" class="form-control noanimation"
                placeholder="Find Study by Name or ID"
                ng-model="searchText"
                ng-click="$event.stopPropagation()"
                autofocus>
              </div>
            </li>
            {# Filtered list of studies #}
            <li class="noanimation" ng-repeat="study in navBarStudies | filter:{search_text: searchText}">
              <a class="noanimation current-text-green" href="/view_study/{% raw %}{{ study.id }}{% endraw %}">{% raw %}{{ study.name }}{% endraw %}</a></li>
          </ul>
        </li>
        {# If the current admin is authorized to view only one study, give them a "Home" button to view that study #}
        <li ng-if="navBarStudies.length <= 1" role="presentation" class="pulse-text-hover"><a href="{{ easy_url("study_endpoints.choose_study_page") }}">Home</a></li>
        
        {% if study and request.session_researcher %}
          {% if page_location != 'edit_study' and request.session_researcher.is_site_admin_or_study_admin(study.id) %}
            <li role="presentation" class="pulse-text-hover">
              <a href="{{ easy_url('study_endpoints.edit_study', study_id=study.id) }}">Edit Study</a>
            </li>
          {% endif %}

          {% if page_location != 'view_study' %}
            <li role="presentation" class="pulse-text-hover">
              <a href="{{ easy_url('study_endpoints.view_study_page', study_id=study.id) }}">View Study</a>
            </li>
          {% endif %}

          {% if page_location != 'dashboard_landing' %}
            <li role="presentation" class="pulse-text-hover">
              <a href="{{ easy_url('data_page_endpoints.dashboard_page', study_id=study.id) }}">Go To Dashboard</a>
            </li>
          {% endif %}
          
        {% endif %}

        {% if study and study.forest_enabled %}
          <li role="presentation" class="pulse-text-hover">
          
          <a href="#" class="dropdown-toggle dropdown-nice fix-forest-dropdown-focus" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Forest <span class="caret"></span>
          </a>
          
          <ul class="dropdown-menu dropdown-translucent noanimation dropdown-item-nice ">
            <li class="noanimation"><a class="noanimation current-text-green" href="{{ easy_url('forest_endpoints.create_tasks', study_id=study.id) }}">Create Forest Tasks</a></li>
            <li class="noanimation"><a class="noanimation current-text-green" href="{{ easy_url('forest_endpoints.task_log', study_id=study.id) }}">View Forest Task Log</a></li>
            {% if site_admin %}
            <li class="noanimation">
              <a class="noanimation current-text-green" href="{{ easy_url('forest_endpoints.download_task_log', study_id=study.id) }}">
                <i class="noanimation">Download Forest Task Log As CSV</i>
              </a>
            </li>
            {% endif %}
          </ul>
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right text-small text-center" style="margin-bottom: -0.8em; margin-top: -0.8em;">
        <li role="presentation" class="pulse-text-hover">
          <a href="{{ easy_url("data_page_endpoints.data_api_web_form_page") }}" class="marg-l-n-1">
            Download <br> Data
          </a></li>
        
        <li role="presentation" class="pulse-text-hover">
          <a href="{{ easy_url("manage_researcher_endpoints.self_manage_credentials_page") }}" class="marg-l-n-1">
            Manage <br> Credentials
          </a></li>
        
        {# Give the System Admin an extra link here to manage researchers #}
        {% if is_admin %}
          <li role="presentation" class="pulse-text-hover">
            <a href="{{ easy_url("manage_researcher_endpoints.administrator_manage_researchers_page") }}" class="marg-l-n-1">
              Manage <br> Researchers
            </a></li>
        
          <li role="presentation" class="pulse-text-hover">
            <a href="{{ easy_url("study_endpoints.manage_studies_page") }}" class="marg-l-n-1">
              Manage <br> Studies
            </a></li>
        {% endif %}
        
        {% if request.session_researcher.site_admin %}
          <li role="presentation" class="pulse-text-hover">
            <a href="{{ easy_url("system_admin_endpoints.manage_firebase_credentials") }}" class="marg-l-n-1">
            Firebase <br> Credentials
            </a></li>
        {% endif %}
        
        <li role="presentation" class="pulse-text-hover marg-r-n-1">
          <a href="{{ easy_url("login_endpoints.logout_page") }}" class="" style="font-size: medium; margin-top: 0.6em;">
            Log Out
          </a></li>
      </ul>
    </div>
  </div>
</nav>
