{% for message in messages %}
{# {% for message in [ {"message": "success", "tags": "success"}, {"message": "info", "tags": "info"}, {"message": "warning", "tags": "warning"}, {"message": "error", "tags": "error"}, ] %} #}
  {% if message.tags != "error" %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
  {% else %}
    <div class="alert alert-danger alert-dismissible" role="alert">
  {% endif %}
    <button  class="close text-mono" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message }}
  </div>
{% endfor %}

{# don't render if this is the login page #}
{% if not is_login_page %}
  <div
    id="logout_alert"
    class="alert alert-warning alert-dismissible center-text logout-alert logout-animate text-large text-bold"
    role="alert"
    hidden
    >
    You will be Logged out in 90 seconds due to inactivity.
  </div>
{% endif %}
