{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script>
    chart = {{ chart|safe }}
    $(document).ready(function() {
      $('#analysis_chart').DataTable( {
          "scrollX": true,
          'rowsGroup': [0],
          'createdRow': function(row, data, index) {
            for (let i = 2; i < data.length; i++) {
                if (data[i] == '{{ status_choices.RUNNING }}') {
                    $($('td', row).get(i)).css('background-color', 'Blue');
                }
                if (data[i] == '{{ status_choices.QUEUED }}') {
                    $($('td', row).get(i)).css('background-color', 'Cyan');
                }
                if (data[i] == '{{ status_choices.SUCCESS }}') {
                    $($('td', row).get(i)).css('background-color', 'Green');
                }
                if (data[i] == '{{ status_choices.ERROR }}') {
                    $($('td', row).get(i)).css('background-color', 'Red');
                }
                if (data[i] == '{{ status_choices.CANCELLED }}') {
                    $($('td', row).get(i)).css('background-color', 'Red');
                }
            }
        },
          data: chart,
          columns: [
              {% for column_name in chart_columns %}
                { title: "{{ column_name }}" },
              {% endfor %}
          ]
      } );
    } );
    </script>
{% endblock %}

{% block title %}Study Analysis Progress{% endblock %}

{% block content %}
  <table id="analysis_chart" class="display" width="100%"></table>
{%  endblock %}