<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
>

<div class="">

  <h3>Schedule</h3>

  <input
    type="checkbox"
    name="trigger_on_first_download"
    id="trigger_on_first_download"
    {% if survey.settings['trigger_on_first_download'] %}
    checked
    {% endif %}
  >

  &nbsp;

  <label for="trigger_on_first_download"><b> Show survey notification immediately</b> </label> when the user downloads
  this survey. (Will also trigger this survey right after registration.) <br>

  <h4>Schedule type:</h4>

  <ul
    class="nav nav-tabs"
    id="schedule-picker"
  >
    <li
      id="weekly-tab"
      class="active"
    ><a
        data-toggle="tab"
        class="btn btn-link"
        href="#weekly"
      >Weekly <span class="badge">{{ study.surveys.get(id=survey.id).weekly_schedules.count() }}</span></a></li>
    {% if push_notifications_enabled %}
    <li id="relative-tab"><a
        data-toggle="tab"
        class="btn btn-link"
        href="#relative"
      >Relative <span class="badge">{{ study.surveys.get(id=survey.id).relative_schedules.count() }}</span></a></li>
    <li id="absolute-tab"><a
        data-toggle="tab"
        class="btn btn-link"
        href="#absolute"
      >Absolute <span class="badge">{{ study.surveys.get(id=survey.id).absolute_schedules.count() }}</span></a></li>
    {% endif %}
  </ul>
  <br>

  {# weekly schedules #}

  <div class="tab-content">

    <div
      id="weekly"
      class="tab-pane fade in active"
      style="height: 150px !important;"
    >
      <em>Weekly schedules send surveys at the same time every week</em>
      <br><br>
      <p>Add new scheduled time (type numbers into the pop-up time picker):</p>

      <div class="form-inline bootstrap-timepicker timepicker">

        <input
          id="weekly_time_timepicker"
          type="text"
          class="form-control schedule-timepicker"
          aria-label="enter a time of day for a survey scheduled on a weekly basis"
        >
        &nbsp;&nbsp;&nbsp;
        <select
          id="day_index_select"
          name="day"
          class="form-control"
          aria-label="enter a day of the week for a survey scheduled on a weekly basis"
        >
          <option value="every_day">EVERY DAY</option>
          <option value=0>Sunday</option>
          <option value=1>Monday</option>
          <option value=2>Tuesday</option>
          <option value=3>Wednesday</option>
          <option value=4>Thursday</option>
          <option value=5>Friday</option>
          <option value=6>Saturday</option>
        </select>

        &nbsp;&nbsp;&nbsp;

        <button
          class="btn btn-info"
          onclick="add_weekly_time()"
          aria-label="click to add the entered schedule for a weekly survey. Changes will not be saved until you click a Save And Deploy button."
        ><span class="text-mono">+ </span>Add time</button>
      </div>
    </div>

    {# relative schedules #}

    <div
      id="relative"
      class="tab-pane fade"
      style="height: 150px !important;"
    >
      <p>
        <em>Relative schedules send surveys a specified number of days before or after an intervention date that is
          specific to each participant</em>
      <p>
        {% if study.interventions.all().count() == 0 %}
      <p>There are no interventions for this study. To create a relative schedule, please <a
          href="/interventions/{{ study.id }}"
          aria-label="click to go to the interventions page for this study to create an intervention"
        >create an intervention</a>.</p>
      {% else %}

      <p>Add new scheduled time followed by how many days before or after the intervention event (type numbers into the
        pop-up time picker):</p>

      <div class="bootstrap-timepicker timepicker">
        <div class="col-xs-2">

          <input
            id="relative_time_timepicker"
            type="text"
            class="form-control schedule-timepicker"
            aria-label="enter a time of day for a survey that runs on a relative schedule"
          >
        </div>

        <div class="col-xs-2">

          <input
            id="num_days_picker"
            type="number"
            class="form-control"
            aria-label="enter the number of days before or after the intervention event for the schedule to run relative to"
          >
        </div>

        <div class="col-xs-2">
          <select
            id="before_after_select"
            name="before_after"
            class="form-control"
            aria-label="select whether relative schedule will be dispatched on, before, or after the intervention event is marked"
          >
            <option value=1>Days After</option>
            <option value=-1>Days Before</option>
            <option value=0>Day Of</option>
          </select>
        </div>

        <div class="col-xs-4">
          <select
            id="intervention_select"
            name="intervention"
            class="form-control"
            aria-label="select which intervention event the survey that runs on a relative schedule will be dispatched in relation to"
          >
            {% for intervention in study.interventions.all() %}
            <option value="{{ intervention.id }}">{{ intervention.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="pull-right col-xs-2">

          <button
            class="btn btn-info"
            onclick="add_relative_time()"
            aria-label="click to add the new relative schedule to the schedule list below. Changes will not be saved until you click a Save And Deploy button."
          ><span class="glyphicon glyphicon-plus"></span>Add time</button>
        </div>

        <hr class"col-xs-12">

        <div class="col-xs-12">
          <p>
            {% endif %}
          <p>
            <b> Note: </b> Scheduled events based on Relative schedules occur as soon as the trigger is in the past
            (usually within 5 minutes). Beiwe will not send survey notifications if there was already one sent for the
            date and
            time
            of the trigger.
        </div>
      </div>
    </div>

    {# absolute schedules #}

    <div
      id="absolute"
      class="tab-pane fade"
      style="height: 150px !important;"
    >
      <p>
        <em>Absolute schedules send out surveys to participants on a specified date</em>
      <p>
      <p>Add a new scheduled time followed by the scheduled date (type numbers into the pop-up time picker):</p>

      <div class="form-inline bootstrap-timepicker timepicker">

        <input
          id="absolute_time_timepicker"
          type="text"
          class="form-control schedule-timepicker"
          aria-label="enter a time of day for a survey that runs on an absolute schedule"
        >
        &nbsp;&nbsp;&nbsp;

        <input
          id="date_picker"
          type="date"
          class="form-control"
          aria-label="select a date for a survey to be dispatched"
          value={{ today }}
        >

        <button
          class="btn btn-info"
          onclick="add_absolute_time()"
          aria-label="click to add the entered schedule for an absolute survey.  Changes will not be saved until you click a Save And Deploy button."
        ><span class="glyphicon glyphicon-plus"></span>Add time</button>
      </div>
      <p>
      <p></p>
      <b> Note: </b> Absolute schedules created with a time in the past will trigger immediately (usually within 5
      minutes).
      Beiwe will not send survey notifications if there was already one sent for the date and time of the schedule.
      </p>
      <br>


    </div>


    {% raw %}
    <script id="weekly-schedule-template" type="text/x-handlebars-template">
    <br>
    <p><h3>Current Schedule Times:</p></h3>
    <div class="well well-sm col-xs-12">
      <table>
        {{#each schedules}}
        <tr>

          <th><b>{{day_name}}</b></th>

          {{#each times}}
          <td>
            <b><span class="label label-info time-label" >
              {{int_to_time this}}
              <i
                class="remove glyphicon glyphicon-remove schedule-x"
                onclick="delete_weekly_time({{@../index}}, {{@index}})"
                title="Delete this time"
                aria-label="remove weekly schedule time {{int_to_time this}} on {{day_name}}"
              ></i>
            </span></b>
          </td>
          {{/each}}

        </tr>
        {{/each}}
      </table>
    </div>
  </script>

    <script id="relative-schedule-template" type="text/x-handlebars-template">
    <br>
    <p><h3>Current Schedule Times:</p></h3>
    <div class="well well-sm col-xs-12" style="min-height:100px"">
      <table>
        {{#each schedules}}
        <tr>
          <td>
            <b><span class="label label-info time-label">
              {{ rel_sched_to_label this }}
              <i
                class="remove glyphicon glyphicon-remove schedule-x"
                onclick="delete_relative_time({{@index}})"
                title="Delete this time"
                aria-label="remove relative schedule time {{ rel_sched_to_label this }}"
              ></i>
            </span> </b>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </script>

    <script id="absolute-schedule-template" type="text/x-handlebars-template">
    <h3>Current Schedule Times:</h3>
    <div class="well well-sm" style="min-height:100px">
      <table>
        {{#each schedules}}
        <tr>
          <td>
            <b>
            <span class="label label-info time-label">
              {{ abs_sched_to_label this }}
              <i
                class="remove glyphicon glyphicon-remove schedule-x"
                onclick="delete_absolute_time({{@index}})"
                title="Delete this time"
                aria-label="remove absolute schedule time {{ abs_sched_to_label this }}"
              ></i>
            </span>
            </b>
          </td>
        </tr>
        {{/each}}
      </table>

    </div>
  </script>

    {% endraw %}